modules = ["python-3.12"]
run = "python make_mlp_ics_multi.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python make_mlp_ics_multi.py", "--debug"]

[workflows]
runButton = "Tests"

[[workflows.workflow]]
name = "Tests"
mode = "sequential"
author = 46176732

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_tests.py"

[[workflows.workflow]]
name = "Run"
author = 46176732
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python make_mlp_ics_multi.py --debug"
